.about-header, #team-header, #founder-header, #web-dev-header {
    font-family: 'Overpass Mono', monospace;
}

.about-header, #team-header {
    font-size: 4.3vh;
    text-align: center;
}

#founder-header, #web-dev-header {
    font-size: 3vh;
}

.about-content, .founder-craftsman-details, .web-dev-details {
    font-family: 'Overpass', sans-serif;
    font-size: 1.9vh;
}

.about-company, .founder-holder {
    width: 100vw;
    height: 25vh;
    background-color: #F1F1F1;
}

#founder-header, .about-header {
    padding-top: 4vh;
}

.about-content, .founder-craftsman-details, .web-dev-details, #founder-header, #web-dev-header {
    text-align: left;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.web-developer-holder {
    height: 25vh;
}

.about-company{
    margin-bottom: 8vh;
    padding-bottom: 5vh;
}