.in-person-holder {
    text-align: center;
    width: 20%;
}

.calendar-header {
    width: 20%;
}

.event-name, .calendar-header {
    font-family: 'Overpass', sans-serif;
}

.event-time, .event-date {
    font-family: 'Overpass Mono', monospace;
}

.calendar-holder {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}