.custom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
    width: 96.9vw;
}

#custom-company-name {
    text-align: left;
    margin: 0;
    font-size: 2vw;
    padding-left: 2vw;
    padding-top: 1vh;
    width: 15vw;
}

.custom-form-holder {
    margin-top: 2vh;
}

.custom-flag-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F1F1;
}

input {
    height: 5vh;
    width: 25vw;
    margin-bottom: 2vh;
    margin-top: 2vh;
    font-family: 'Overpass Mono', monospace;
}

.design-photo {
    margin-bottom: -1vh;
    font-size: 1.5vh;
}

.submit-flag {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #AD2328;
    transition-duration: .5s;
    margin-bottom: 4vh;
}

.submit-flag:hover {
    background-color: #D22F35;
    border: none;
}

.order-here {
    font-family: 'Overpass', sans-serif;
    font-style: italic;
    font-weight: 350;
}