.all-flags-holder {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 1000px;
    background-color: #F1F1F1;
}
