.flag-photo-holder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 350px;
    width: 400px;
    margin-left: 200px;
}

.flag-page-photos {
    margin-top: 45px;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
    background-size: cover;
    max-height: 150px;
    height: auto;
    max-width: 70%;
}

.flag-name {
    margin-left: 30px;
    font-family: 'Overpass', sans-serif;
}

.view-flag-btn {
    background-color: #0073B4;
    color: white;
    height: 35px;
    width: 120px;
    margin-left: 30px;

}