.flag-photo-holder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 20vw;
    margin-left: 8vw;
}

.flag-page-photos {
    margin-top: 45px;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
    background-size: cover;
    max-height: 150px;
    height: auto;
    max-width: 70%;
}

.flag-name {
    margin-left: 30px;
    font-size: 1.3vw;
    font-family: 'Overpass', sans-serif;
}

.view-flag-btn {
    background-color: #0073B4;
    border: none;
    color: white;
    /* font-size: 1.3vw; */
    height: 3vh;
    width: 5.6vw;
    margin-left: 1.5vw;
    transition-duration: .5s;
}

.view-flag-btn:hover {
    background-color: #018DDC;
    border: none;
}