.flag-page-photos {
    margin-top: 45px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    height: 400px;
    width: 700px;
    border-radius: 10px;
    box-shadow: 20px 20px 35px red, -20px -20px 35px blue;
}

.size-details {
    margin-left: 450px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.price-details {
    margin-right: 450px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}


.all-flags-holder {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}