.flag-container {
    padding-top: 60px;
}

.landing-description {
    text-align: center;
}

#landing-text {
    padding-top: 7px;
    text-shadow: 2px 2px 5px rgba(65, 105, 225, 0.8);
    color: red;
}