.landing-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

#landing-company-name {
    text-align: left;
    margin: 0;
    font-size: 42px;
    padding-left: 1%;
    width: 15%;
}

.nav-holder {
    padding-right: 25px;
}

.section-image-left {
    display: flex;
    margin-top: 40px;
    width: 100vw;
}

.img-holder {
    max-width: 50%;
}

.single-nav-holder {
    margin-left: 162px;
    margin-top: 202px;
    font-size: 36px;
    font-family: 'Overpass', sans-serif;
    width: 19%;

}
