/* .flag-container {
    padding-top: 60px;
} */

.landing-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 112px;
}

#landing-company-name {
    text-align: left;
    font-size: 42px;
    padding-left: 62px;
    padding-top: 31px;
    width: 280px;
}

.nav-holder {
    padding-right: 25px;
}

.section-image-left {
    display: flex;
    margin-top: 40px;
    margin-left: 62px;
    height: 703px;
}

.img-holder {
    height: 703px;
    width: 50%;
}

.single-nav-holder {
    margin-left: 162px;
    margin-top: 202px;
    font-size: 36px;
    font-family: 'Overpass', sans-serif;;
    width: 400px;
    height: 204px;
}