.nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* height: 112px; */
    max-width: 100vw;
}

.landing-link, .flags-link, .contact-link {
    font-family: 'Overpass Mono', monospace;
    padding-right: 1vw;
    font-size: 1.2vw;
}

.about-link {
    font-size: 1.2vw;
    font-family: 'Overpass Mono', monospace;
}

.view-flags-button {
    width: 9.6vw;
    height: 13%;
    background-color: #AD2328;
    border: none;
    color: white;
    font-family: 'Overpass Mono', monospace;
    font-size: 1vw;
    align-self: center;
    transition-duration: .5s;
}

.custom-flag-btn {
    height: 62px;
    width: 225px;
    background-color: #AD2328;
    border: none;
    color: white;
    font-family: 'Overpass Mono', monospace;
    align-self: center;
    transition-duration: .5s;
}

.custom-flag-btn:hover, .view-flags-button:hover {
    background-color: #D22F35;
    border: none;
}

@media screen and (max-width: 600px) {
    .landing-link, .flags-link, .contact-link, .about-link {
        font-size: 3vw;
    }

    .view-flags-button {
        width: 20vw;
        height: 4vh;
        font-size: 2vw;
    }
}