.nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 112px;
    width: 1440px;
    padding-right: 48px;
}

.landing-link, .flags-link, .about-link, .contact-link {
    font-family: 'Overpass Mono', monospace;
    padding-right: 20px;
    font-size: 25px;
}

.view-flags-button {
    width: 136px;
    height: 60px;
    background-color: #AD2328;
    color: white;
    align-self: center;
}