.flex-holder {
    margin-top: 4vh;
    display: flex;
    /* justify-content: space-evenly; */
    width: 100vw;
}

.flag-img {
    width: 25vw;
    height: 27vh;
    margin-top: 20vh;
    margin-left: 10vw;
}

.description-holder {
    background-color: #F1F1F1;
    width: 50vw;
    margin-left: 10vw;
}

.view-name {
    margin-top: 19vh;
}

.description-flavor-head, .description-flavor, .view-name, .flag-flavor, .return-flavor-head, .return-flavor {
    /* text-align: left; */
    width: 20vw;
    margin-left: 6.5vw;
}

.description-flavor-head, .description-flavor, .return-flavor-head, .return-flavor {
    font-family: 'Overpass Mono', monospace;
}

.description-flavor, .return-flavor, .drop-down-holder {
    margin-bottom: 7%;
}

.view-name, .flag-flavor {
    font-family: 'Overpass', sans-serif;
}

.flag-flavor {
    margin-bottom: 7vh;
}