.why-buy-holder {
    margin-top: 250px;
    height: 420px;
}

.why-buy-header {
    margin-left: 30%;
    font-family:  'Overpass', sans-serif;
}

.why-buy-p {
    margin-left: 950px;
    font-family:  'Overpass', sans-serif;
    width: 420px;
}